@page "{id:int}"
@model InvoiceManager.Pages.Invoices.DeleteModel

@{
    ViewData["Title"] = Resources.ApplicationTexts.DeleteTitle;
}

<h2>@Resources.ApplicationTexts.DeleteHeader</h2>

<h3>@Resources.ApplicationTexts.DeleteText</h3>
<div>
    <h4>@Resources.ApplicationTexts.Invoice</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Invoice.CompanyName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Invoice.CompanyName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Invoice.IssueDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Invoice.IssueDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Invoice.Amount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Invoice.Amount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Invoice.DueDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Invoice.DueDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Invoice.Status)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Invoice.Status)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Invoice.InvoiceId" />
        <input type="submit" value="Usuń" class="btn btn-default" /> |
        <a asp-page="./Index">@Resources.ApplicationTexts.BackToList</a>
    </form>
</div>
