@page
@model EnableAuthenticatorModel
@{
    ViewData["Title"] = Resources.ApplicationTexts.AuthConfiguration;
    ViewData["ActivePage"] = Resources.ApplicationTexts.TwoFactorAuthentication;
}

<h4>@ViewData["Title"]</h4>
<div>
    <p>@Resources.ApplicationTexts.EnableAuthSteps</p>
    <ol class="list">
        <li>
            <p>@Resources.ApplicationTexts.EnableAuthStep1</p>
        </li>
        <li>
            <p>@string.Format(Resources.ApplicationTexts.EnableAuthStep2, Model.SharedKey)</p>
        </li>
        <li>
            <p>@Resources.ApplicationTexts.EnableAuthStep3</p>
            <div class="row">
                <div class="col-md-6">
                    <form method="post">
                        <div class="form-group">
                            <label asp-for="Input.Code" class="control-label">@Resources.ApplicationTexts.VerificationCode</label>
                            <input asp-for="Input.Code" class="form-control" autocomplete="off" />
                            <span asp-validation-for="Input.Code" class="text-danger"></span>
                        </div>
                        <button type="submit" class="btn btn-default">@Resources.ApplicationTexts.Verify</button>
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    </form>
                </div>
            </div>
        </li>
    </ol>
</div>

@section Scripts {
    @await Html.PartialAsync($"_ValidationScriptsPartial")
}
